# 01 – Order Items Data Loading & Cleaning

This notebook:
- Imports the core libraries
- Loads the raw species and observations datasets
- Inspects structure, types, and missing values

## Q1 2025 — Cleaning

In [68]:
import pandas as pd, numpy as np
import seaborn as sns, matplotlib.pyplot as plt

In [69]:
q1 = pd.read_csv('../data/raw/order_items_2025_q1.csv', encoding='utf-8')
q1.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Order Employee ID,Order Employee Name,Order Employee Custom ID,Note,Currency,...,Order Total,Payments Total,Payment Note,Refunds Total,Refund Credit Surcharge,Manual Refunds Total,Tender,Credit Card Auth Code,Credit Card Transaction ID,Order Payment State
0,31-Mar-2025 10:54 PM PDT,QQBMWE3NMZQ0Y,NaN,19.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,Vernon to go Pick up time: 11:09 PM,USD,...,25.99,25.99,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
1,31-Mar-2025 10:35 PM PDT,TH041BMRDC2Y6,NaN,78.0,Delivery,BTCYVG7SFZR5R,Oleg,NaN,Pick up time: 11:35 PM,USD,...,25.13,0.00,NaN,0.0,0.0,0.0,NaN,NaN,NaN,Open
2,31-Mar-2025 10:33 PM PDT,06KJV691ZMV48,NaN,77.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,Pick up time: 11:03 PM,USD,...,17.90,17.90,NaN,0.0,0.0,0.0,Debit Card,000376,509100536853,Paid
3,31-Mar-2025 10:24 PM PDT,ASKA2CPN7GT2A,NaN,76.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,Queen Pick up time: 10:54 PM\nGenerated reward...,USD,...,40.69,40.69,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
4,31-Mar-2025 10:23 PM PDT,GK5Z5D128NA1M,NaN,75.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,Jose Pick up time: 10:53 PM,USD,...,20.05,20.05,NaN,0.0,0.0,0.0,Credit Card,08630D,509100536870,Paid

In [70]:
q1.info

<bound method DataFrame.info of                      Order Date       Order ID Invoice Number  Order Number  \
0      31-Mar-2025 10:54 PM PDT  QQBMWE3NMZQ0Y            NaN          19.0
1      31-Mar-2025 10:35 PM PDT  TH041BMRDC2Y6            NaN          78.0
2      31-Mar-2025 10:33 PM PDT  06KJV691ZMV48            NaN          77.0
3      31-Mar-2025 10:24 PM PDT  ASKA2CPN7GT2A            NaN          76.0
4      31-Mar-2025 10:23 PM PDT  GK5Z5D128NA1M            NaN          75.0
...                         ...            ...            ...           ...
12117  01-Jan-2025 11:46 AM PST  9SFS2SMTBWSBR            NaN           3.0
12118  01-Jan-2025 11:17 AM PST  EY0TQW2Y4A9EJ            NaN           2.0
12119  01-Jan-2025 11:03 AM PST  98NY3SQP6V8RW            NaN           1.0
12120  01-Jan-2025 03:26 PM PST  2KV4ASKXKJGB4            NaN           8.0
12121  01-Jan-2025 05:44 PM PST  CCHVGV3T6V7WW            NaN          14.0

      Order Type Order Employee ID Order Employee Name  \
0        Pick Up     BTCYVG7SFZR5R                Oleg
1       Delivery     BTCYVG7SFZR5R                Oleg
2        Pick Up     BTCYVG7SFZR5R                Oleg
3        Pick Up     BTCYVG7SFZR5R                Oleg
4        Pick Up     BTCYVG7SFZR5R                Oleg
...          ...               ...                 ...
12117    Pick Up     J39779NJ6WD1E               Liana
12118    Pick Up     J39779NJ6WD1E               Liana
12119    Pick Up     J39779NJ6WD1E               Liana
12120    Pick Up     J39779NJ6WD1E               Liana
12121    Pick Up     SET26K4MAPYQY               Jason

       Order Employee Custom ID  \
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
...                         ...
12117                       NaN
12118                       NaN
12119                       NaN
12120                       NaN
12121                       NaN

                                                    Note Currency  ...  \
0                    Vernon to go Pick up time: 11:09 PM      USD  ...
1                                 Pick up time: 11:35 PM      USD  ...
2                                 Pick up time: 11:03 PM      USD  ...
3      Queen Pick up time: 10:54 PM\nGenerated reward...      USD  ...
4                            Jose Pick up time: 10:53 PM      USD  ...
...                                                  ...      ...  ...
12117                       Kevin Pick up time: 12:16 PM      USD  ...
12118                      Sergio Pick up time: 11:47 AM      USD  ...
12119                       Derek Pick up time: 11:33 AM      USD  ...
12120                                                NaN      USD  ...
12121                                                NaN      USD  ...

       Order Total  Payments Total  Payment Note  Refunds Total  \
0            25.99           25.99           NaN            0.0
1            25.13            0.00           NaN            0.0
2            17.90           17.90           NaN            0.0
3            40.69           40.69           NaN            0.0
4            20.05           20.05           NaN            0.0
...            ...             ...           ...            ...
12117        28.85           28.85           NaN            0.0
12118        19.26           19.26           NaN            0.0
12119        21.80           21.80           NaN            0.0
12120         5.00            5.00           NaN            0.0
12121         6.00            0.00           NaN            0.0

       Refund Credit Surcharge  Manual Refunds Total       Tender  \
0                          0.0                   0.0         Cash
1                          0.0                   0.0          NaN
2                          0.0                   0.0   Debit Card
3                          0.0                   0.0         Cash
4                          0.0                   0.0  Credit Card
...                        ...                   ...          ...
12117                      0.0                   0.0  Credit Card
12118                      0.0                   0.0         Cash
12119                      0.0                   0.0   Debit Card
12120                      0.0                   0.0   Debit Card
12121                      0.0                   0.0          NaN

      Credit Card Auth Code  Credit Card Transaction ID  Order Payment State
0                       NaN                         NaN                 Paid
1                       NaN                         NaN                 Open
2                    000376                509100536853                 Paid
3                       NaN                         NaN                 Paid
4                    08630D                509100536870                 Paid
...                     ...                         ...                  ...
12117                001163                500100709498                 Paid
12118                   NaN                         NaN                 Paid
12119                793170                500100709464                 Paid
12120                627283                500100709906                 Paid
12121                   NaN                         NaN                 Open

[12122 rows x 25 columns]>

In [71]:
q1.shape, q1.columns

((12122, 25),
 Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
        'Order Type', 'Order Employee ID', 'Order Employee Name',
        'Order Employee Custom ID', 'Note', 'Currency', 'Tax Amount', 'Tip',
        'Service Charge', 'Credit Surcharge', 'Discount', 'Order Total',
        'Payments Total', 'Payment Note', 'Refunds Total',
        'Refund Credit Surcharge', 'Manual Refunds Total', 'Tender',
        'Credit Card Auth Code', 'Credit Card Transaction ID',
        'Order Payment State'],
       dtype='object'))

In [72]:
q1.isnull().sum()

Order Date                        0
Order ID                          0
Invoice Number                11947
Order Number                    565
Order Type                        0
Order Employee ID                 0
Order Employee Name               0
Order Employee Custom ID      12122
Note                            975
Currency                          0
Tax Amount                        0
Tip                               0
Service Charge                12121
Credit Surcharge                  0
Discount                          0
Order Total                       0
Payments Total                    0
Payment Note                  11559
Refunds Total                     0
Refund Credit Surcharge           0
Manual Refunds Total              0
Tender                         2550
Credit Card Auth Code          5289
Credit Card Transaction ID     5289
Order Payment State               0
dtype: int64

In [73]:
q1.duplicated().sum()

0

### Column Reduction Rationale

The following columns were removed because they were:
- System-level payment metadata
- Employee operations fields
- Mostly empty or zero-valued
- Not required for customer, revenue, or campaign analysis

I intentionally removed operational and processor-level fields early to reduce noise and focus on revenue, order behavior, and customer-relevant metrics.

##### Columns removed due to low utility, high missingness, or system-level metadata

In [74]:
columns_to_drop = [
    "Order Employee ID",
    "Order Employee Name",
    "Order Employee Custom ID",
    "Note",
    "Currency",
    "Service Charge",
    "Credit Surcharge",
    "Payment Note",
    "Refunds Total",
    "Refund Credit Surcharge",
    "Manual Refunds Total",
    "Credit Card Auth Code",
    "Credit Card Transaction ID",
    "Order Payment State"
]

q1_reduced = q1.drop(columns=columns_to_drop)
q1_reduced.columns

Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
       'Order Type', 'Tax Amount', 'Tip', 'Discount', 'Order Total',
       'Payments Total', 'Tender'],
      dtype='object')

In [75]:
q1_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12122 entries, 0 to 12121
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12122 non-null  object
 1   Order ID        12122 non-null  object
 2   Invoice Number  175 non-null    object
 3   Order Number    11557 non-null  float64
 4   Order Type      12122 non-null  object
 5   Tax Amount      12122 non-null  float64
 6   Tip             12122 non-null  float64
 7   Discount        12122 non-null  float64
 8   Order Total     12122 non-null  float64
 9   Payments Total  12122 non-null  float64
 10  Tender          9572 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.0+ MB

In [76]:
q1_reduced.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Tax Amount,Tip,Discount,Order Total,Payments Total,Tender
0,31-Mar-2025 10:54 PM PDT,QQBMWE3NMZQ0Y,NaN,19.0,Pick Up,2.09,0.00,0.0,25.99,25.99,Cash
1,31-Mar-2025 10:35 PM PDT,TH041BMRDC2Y6,NaN,78.0,Delivery,0.00,0.00,0.0,25.13,0.00,NaN
2,31-Mar-2025 10:33 PM PDT,06KJV691ZMV48,NaN,77.0,Pick Up,1.44,3.29,0.0,17.90,17.90,Debit Card
3,31-Mar-2025 10:24 PM PDT,ASKA2CPN7GT2A,NaN,76.0,Pick Up,3.27,0.00,0.0,40.69,40.69,Cash
4,31-Mar-2025 10:23 PM PDT,GK5Z5D128NA1M,NaN,75.0,Pick Up,1.61,0.92,0.0,20.05,20.05,Credit Card

### Data Type Observations

- Order Date is stored as object → should be datetime
- Financial columns are already numeric
- Invoice Number is sparsely populated
- Order Number appears numeric but is not a reliable identifier
- Tender has missing values likely due to order/payment structure

In [77]:
q1_reduced["Order ID"].nunique(), len(q1_reduced)

(12122, 12122)

In [78]:
q1_reduced["Order Date"].head()

0    31-Mar-2025 10:54 PM PDT
1    31-Mar-2025 10:35 PM PDT
2    31-Mar-2025 10:33 PM PDT
3    31-Mar-2025 10:24 PM PDT
4    31-Mar-2025 10:23 PM PDT
Name: Order Date, dtype: object

In [79]:
q1_reduced["Order Date"] = pd.to_datetime(q1_reduced["Order Date"])

In [80]:
q1_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12122 entries, 0 to 12121
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12122 non-null  datetime64[ns, tzlocal()]
 1   Order ID        12122 non-null  object
 2   Invoice Number  175 non-null    object
 3   Order Number    11557 non-null  float64
 4   Order Type      12122 non-null  object
 5   Tax Amount      12122 non-null  float64
 6   Tip             12122 non-null  float64
 7   Discount        12122 non-null  float64
 8   Order Total     12122 non-null  float64
 9   Payments Total  12122 non-null  float64
 10  Tender          9572 non-null   object
dtypes: datetime64[ns, tzlocal()](1), float64(6), object(4)
memory usage: 1.0+ MB

### Further Column Removal
- Order Number was removed because Order ID uniquely identifies each order and Order Number was inconsistently populated and stored as float.
 - Invoice Number was removed, only 1.4% populated

In [81]:
q1_clean = q1_reduced.drop(columns=["Invoice Number", "Order Number"])

### Tender Column

Tender contains missing values, likely due to payment structure or order state. Missing values are retained for now.

### Verify Clean Columns

In [82]:
q1_clean.columns

Index(['Order Date', 'Order ID', 'Order Type', 'Tax Amount', 'Tip', 'Discount',
       'Order Total', 'Payments Total', 'Tender'],
      dtype='object')

In [83]:
q1_clean.info()
q1_clean.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12122 entries, 0 to 12121
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12122 non-null  datetime64[ns, tzlocal()]
 1   Order ID        12122 non-null  object
 2   Order Type      12122 non-null  object
 3   Tax Amount      12122 non-null  float64
 4   Tip             12122 non-null  float64
 5   Discount        12122 non-null  float64
 6   Order Total     12122 non-null  float64
 7   Payments Total  12122 non-null  float64
 8   Tender          9572 non-null   object
dtypes: datetime64[ns, tzlocal()](1), float64(5), object(3)
memory usage: 852.5+ KB

Order Date           0
Order ID             0
Order Type           0
Tax Amount           0
Tip                  0
Discount             0
Order Total          0
Payments Total       0
Tender            2550
dtype: int64

## Q2 2025 — Cleaning

### Reuse of Q1 Cleaning Logic

Q1 serves as the reference implementation for order-level cleaning. 
All subsequent quarters apply the same steps to ensure consistency across 2025 data.

The column reduction, data type corrections, and validation steps demonstrated in Q1 2025 were applied consistently to Q2–Q4 2025. 
Subsequent quarterly sections therefore focus on execution rather than repeating the full rationale.

In [84]:
q2 = pd.read_csv('../data/raw/order_items_2025_q2.csv', encoding='utf-8')
q2.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Order Employee ID,Order Employee Name,Order Employee Custom ID,Note,Currency,...,Order Total,Payments Total,Payment Note,Refunds Total,Refund Credit Surcharge,Manual Refunds Total,Tender,Credit Card Auth Code,Credit Card Transaction ID,Order Payment State
0,30-Jun-2025 11:14 PM PDT,RTS86DX8W2J24,NaN,34.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,NaN,USD,...,5.00,5.00,NaN,0.0,0.0,0.0,Debit Card,385598,518200520797,Paid
1,30-Jun-2025 11:11 PM PDT,AJ6HQVYGTEWQC,NaN,33.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,NaN,USD,...,0.00,0.00,NaN,0.0,0.0,0.0,NaN,NaN,NaN,Open
2,30-Jun-2025 10:55 PM PDT,9BWB2E5VJMS66,NaN,49.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,William Pick up time: 10:56 PM,USD,...,18.89,18.89,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
3,30-Jun-2025 10:45 PM PDT,X876RBKJTQ3J6,NaN,48.0,Pick Up,BTCYVG7SFZR5R,Oleg,NaN,Maria Pick up time: 11:00 PM,USD,...,36.18,36.18,NaN,0.0,0.0,0.0,Debit Card,661621,518200520763,Paid
4,30-Jun-2025 10:40 PM PDT,WWS2SNQ6C39SA,NaN,47.0,Delivery,BTCYVG7SFZR5R,Oleg,NaN,Pick up time: 11:40 PM,USD,...,24.24,0.00,NaN,0.0,0.0,0.0,NaN,NaN,NaN,Open

In [85]:
q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order Date                  11704 non-null  object
 1   Order ID                    11704 non-null  object
 2   Invoice Number              100 non-null    object
 3   Order Number                11214 non-null  float64
 4   Order Type                  11704 non-null  object
 5   Order Employee ID           11704 non-null  object
 6   Order Employee Name         11704 non-null  object
 7   Order Employee Custom ID    0 non-null      float64
 8   Note                        10691 non-null  object
 9   Currency                    11704 non-null  object
 10  Tax Amount                  11704 non-null  float64
 11  Tip                         11704 non-null  float64
 12  Service Charge              0 non-null      float64
 13  Credit Surcharge            11704 non-null  float64
 14  Discount                    11704 non-null  float64
 15  Order Total                 11704 non-null  float64
 16  Payments Total              11704 non-null  float64
 17  Payment Note                488 non-null    object
 18  Refunds Total               11704 non-null  float64
 19  Refund Credit Surcharge     11704 non-null  float64
 20  Manual Refunds Total        11704 non-null  float64
 21  Tender                      9319 non-null   object
 22  Credit Card Auth Code       6478 non-null   object
 23  Credit Card Transaction ID  6478 non-null   object
 24  Order Payment State         11704 non-null  object
dtypes: float64(12), object(13)
memory usage: 2.2+ MB

In [86]:
q2.shape, q2.columns

((11704, 25),
 Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
        'Order Type', 'Order Employee ID', 'Order Employee Name',
        'Order Employee Custom ID', 'Note', 'Currency', 'Tax Amount', 'Tip',
        'Service Charge', 'Credit Surcharge', 'Discount', 'Order Total',
        'Payments Total', 'Payment Note', 'Refunds Total',
        'Refund Credit Surcharge', 'Manual Refunds Total', 'Tender',
        'Credit Card Auth Code', 'Credit Card Transaction ID',
        'Order Payment State'],
       dtype='object'))

In [87]:
q2.isnull().sum()

Order Date                        0
Order ID                          0
Invoice Number                11604
Order Number                    490
Order Type                        0
Order Employee ID                 0
Order Employee Name               0
Order Employee Custom ID      11704
Note                           1013
Currency                          0
Tax Amount                        0
Tip                               0
Service Charge                11704
Credit Surcharge                  0
Discount                          0
Order Total                       0
Payments Total                    0
Payment Note                  11216
Refunds Total                     0
Refund Credit Surcharge           0
Manual Refunds Total              0
Tender                         2385
Credit Card Auth Code          5226
Credit Card Transaction ID     5226
Order Payment State               0
dtype: int64

In [88]:
q2.duplicated().sum()

0

In [89]:
q2_reduced = q2.drop(columns=columns_to_drop)
q2_reduced.columns

Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
       'Order Type', 'Tax Amount', 'Tip', 'Discount', 'Order Total',
       'Payments Total', 'Tender'],
      dtype='object')

In [90]:
q2_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      11704 non-null  object
 1   Order ID        11704 non-null  object
 2   Invoice Number  100 non-null    object
 3   Order Number    11214 non-null  float64
 4   Order Type      11704 non-null  object
 5   Tax Amount      11704 non-null  float64
 6   Tip             11704 non-null  float64
 7   Discount        11704 non-null  float64
 8   Order Total     11704 non-null  float64
 9   Payments Total  11704 non-null  float64
 10  Tender          9319 non-null   object
dtypes: float64(6), object(5)
memory usage: 1005.9+ KB

In [91]:
q2_reduced.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Tax Amount,Tip,Discount,Order Total,Payments Total,Tender
0,30-Jun-2025 11:14 PM PDT,RTS86DX8W2J24,NaN,34.0,Pick Up,0.00,0.0,0.0,5.00,5.00,Debit Card
1,30-Jun-2025 11:11 PM PDT,AJ6HQVYGTEWQC,NaN,33.0,Pick Up,0.00,0.0,0.0,0.00,0.00,NaN
2,30-Jun-2025 10:55 PM PDT,9BWB2E5VJMS66,NaN,49.0,Pick Up,1.52,0.0,0.0,18.89,18.89,Cash
3,30-Jun-2025 10:45 PM PDT,X876RBKJTQ3J6,NaN,48.0,Pick Up,2.91,0.0,0.0,36.18,36.18,Debit Card
4,30-Jun-2025 10:40 PM PDT,WWS2SNQ6C39SA,NaN,47.0,Delivery,0.00,0.0,0.0,24.24,0.00,NaN

In [92]:
q2_reduced["Order ID"].nunique(), len(q2_reduced)

(11704, 11704)

In [93]:
q2_reduced["Order Date"] = pd.to_datetime(q2_reduced["Order Date"])

In [94]:
q2_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      11704 non-null  datetime64[ns, pytz.FixedOffset(-420)]
 1   Order ID        11704 non-null  object
 2   Invoice Number  100 non-null    object
 3   Order Number    11214 non-null  float64
 4   Order Type      11704 non-null  object
 5   Tax Amount      11704 non-null  float64
 6   Tip             11704 non-null  float64
 7   Discount        11704 non-null  float64
 8   Order Total     11704 non-null  float64
 9   Payments Total  11704 non-null  float64
 10  Tender          9319 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-420)](1), float64(6), object(4)
memory usage: 1005.9+ KB

In [95]:
q2_clean = q2_reduced.drop(columns=["Invoice Number", "Order Number"])

In [96]:
q2_clean.info()
q2_clean.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      11704 non-null  datetime64[ns, pytz.FixedOffset(-420)]
 1   Order ID        11704 non-null  object
 2   Order Type      11704 non-null  object
 3   Tax Amount      11704 non-null  float64
 4   Tip             11704 non-null  float64
 5   Discount        11704 non-null  float64
 6   Order Total     11704 non-null  float64
 7   Payments Total  11704 non-null  float64
 8   Tender          9319 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-420)](1), float64(5), object(3)
memory usage: 823.1+ KB

Order Date           0
Order ID             0
Order Type           0
Tax Amount           0
Tip                  0
Discount             0
Order Total          0
Payments Total       0
Tender            2385
dtype: int64

## Next Steps

- Apply the same cleaning steps to Q3 and Q4
- Concatenate all cleaned quarters
- Begin exploratory data analysis (Phase 3)

## Q3 2025 — Cleaning

In [97]:
q3 = pd.read_csv('../data/raw/order_items_2025_q3.csv', encoding='utf-8')
q3.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Order Employee ID,Order Employee Name,Order Employee Custom ID,Note,Currency,...,Order Total,Payments Total,Payment Note,Refunds Total,Refund Credit Surcharge,Manual Refunds Total,Tender,Credit Card Auth Code,Credit Card Transaction ID,Order Payment State
0,30-Sep-2025 10:43 PM PDT,2RR582HBC5678,NaN,61.0,Pick Up,QVND54BCB9DVY,Max,NaN,Alina Pick up time: 11:43 PM,USD,...,47.24,47.24,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
1,30-Sep-2025 10:44 PM PDT,YM7D8PA6ZKN7Y,NaN,40.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,3.59,3.59,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
2,30-Sep-2025 10:35 PM PDT,6X928FNCJ7ZHT,NaN,39.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,8.59,8.59,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
3,30-Sep-2025 10:32 PM PDT,TG4DQ78KZB8WM,NaN,60.0,Pick Up,R73XBEPPQJXZE,MIKHAIL CHERNIOGLO,NaN,Jonny Pick up time: 11:02 PM,USD,...,25.62,25.62,NaN,0.0,0.0,0.0,"Cash, Debit Card",850985,527400518599,Paid
4,30-Sep-2025 10:18 PM PDT,782EQX77T2VHE,NaN,37.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,0.01,0.01,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid

In [98]:
q3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12882 entries, 0 to 12881
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order Date                  12882 non-null  object
 1   Order ID                    12882 non-null  object
 2   Invoice Number              315 non-null    object
 3   Order Number                11010 non-null  float64
 4   Order Type                  12882 non-null  object
 5   Order Employee ID           12882 non-null  object
 6   Order Employee Name         12882 non-null  object
 7   Order Employee Custom ID    0 non-null      float64
 8   Note                        10599 non-null  object
 9   Currency                    12882 non-null  object
 10  Tax Amount                  12882 non-null  float64
 11  Tip                         12882 non-null  float64
 12  Service Charge              1 non-null      float64
 13  Credit Surcharge            12882 non-null  float64
 14  Discount                    12882 non-null  float64
 15  Order Total                 12882 non-null  float64
 16  Payments Total              12882 non-null  float64
 17  Payment Note                673 non-null    object
 18  Refunds Total               12882 non-null  float64
 19  Refund Credit Surcharge     12882 non-null  float64
 20  Manual Refunds Total        12882 non-null  float64
 21  Tender                      10976 non-null  object
 22  Credit Card Auth Code       6417 non-null   object
 23  Credit Card Transaction ID  6417 non-null   object
 24  Order Payment State         12882 non-null  object
dtypes: float64(12), object(13)
memory usage: 2.5+ MB

In [99]:
q3.shape, q3.columns

((12882, 25),
 Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
        'Order Type', 'Order Employee ID', 'Order Employee Name',
        'Order Employee Custom ID', 'Note', 'Currency', 'Tax Amount', 'Tip',
        'Service Charge', 'Credit Surcharge', 'Discount', 'Order Total',
        'Payments Total', 'Payment Note', 'Refunds Total',
        'Refund Credit Surcharge', 'Manual Refunds Total', 'Tender',
        'Credit Card Auth Code', 'Credit Card Transaction ID',
        'Order Payment State'],
       dtype='object'))

In [100]:
q3.isnull().sum()

Order Date                        0
Order ID                          0
Invoice Number                12567
Order Number                   1872
Order Type                        0
Order Employee ID                 0
Order Employee Name               0
Order Employee Custom ID      12882
Note                           2283
Currency                          0
Tax Amount                        0
Tip                               0
Service Charge                12881
Credit Surcharge                  0
Discount                          0
Order Total                       0
Payments Total                    0
Payment Note                  12209
Refunds Total                     0
Refund Credit Surcharge           0
Manual Refunds Total              0
Tender                         1906
Credit Card Auth Code          6465
Credit Card Transaction ID     6465
Order Payment State               0
dtype: int64

In [101]:
q3.duplicated().sum()

0

In [102]:
q3_reduced = q3.drop(columns=columns_to_drop)
q3_reduced.columns

Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
       'Order Type', 'Tax Amount', 'Tip', 'Discount', 'Order Total',
       'Payments Total', 'Tender'],
      dtype='object')

In [103]:
q3_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12882 entries, 0 to 12881
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12882 non-null  object
 1   Order ID        12882 non-null  object
 2   Invoice Number  315 non-null    object
 3   Order Number    11010 non-null  float64
 4   Order Type      12882 non-null  object
 5   Tax Amount      12882 non-null  float64
 6   Tip             12882 non-null  float64
 7   Discount        12882 non-null  float64
 8   Order Total     12882 non-null  float64
 9   Payments Total  12882 non-null  float64
 10  Tender          10976 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.1+ MB

In [104]:
q3_reduced.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Tax Amount,Tip,Discount,Order Total,Payments Total,Tender
0,30-Sep-2025 10:43 PM PDT,2RR582HBC5678,NaN,61.0,Pick Up,3.80,0.00,0.00,47.24,47.24,Cash
1,30-Sep-2025 10:44 PM PDT,YM7D8PA6ZKN7Y,NaN,40.0,Pick Up,0.29,0.00,0.00,3.59,3.59,Cash
2,30-Sep-2025 10:35 PM PDT,6X928FNCJ7ZHT,NaN,39.0,Pick Up,0.69,0.00,-7.91,8.59,8.59,Cash
3,30-Sep-2025 10:32 PM PDT,TG4DQ78KZB8WM,NaN,60.0,Pick Up,2.06,0.26,0.00,25.62,25.62,"Cash, Debit Card"
4,30-Sep-2025 10:18 PM PDT,782EQX77T2VHE,NaN,37.0,Pick Up,0.00,0.00,0.00,0.01,0.01,Cash

In [105]:
q3_reduced["Order ID"].nunique(), len(q3_reduced)

(12882, 12882)

In [106]:
q3_reduced["Order Date"] = pd.to_datetime(q3_reduced["Order Date"])

In [107]:
q3_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12882 entries, 0 to 12881
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12882 non-null  datetime64[ns, pytz.FixedOffset(-420)]
 1   Order ID        12882 non-null  object
 2   Invoice Number  315 non-null    object
 3   Order Number    11010 non-null  float64
 4   Order Type      12882 non-null  object
 5   Tax Amount      12882 non-null  float64
 6   Tip             12882 non-null  float64
 7   Discount        12882 non-null  float64
 8   Order Total     12882 non-null  float64
 9   Payments Total  12882 non-null  float64
 10  Tender          10976 non-null  object
dtypes: datetime64[ns, pytz.FixedOffset(-420)](1), float64(6), object(4)
memory usage: 1.1+ MB

In [108]:
q3_clean = q3_reduced.drop(columns=["Invoice Number", "Order Number"])

In [109]:
q3_clean.info()
q3_clean.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12882 entries, 0 to 12881
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      12882 non-null  datetime64[ns, pytz.FixedOffset(-420)]
 1   Order ID        12882 non-null  object
 2   Order Type      12882 non-null  object
 3   Tax Amount      12882 non-null  float64
 4   Tip             12882 non-null  float64
 5   Discount        12882 non-null  float64
 6   Order Total     12882 non-null  float64
 7   Payments Total  12882 non-null  float64
 8   Tender          10976 non-null  object
dtypes: datetime64[ns, pytz.FixedOffset(-420)](1), float64(5), object(3)
memory usage: 905.9+ KB

Order Date           0
Order ID             0
Order Type           0
Tax Amount           0
Tip                  0
Discount             0
Order Total          0
Payments Total       0
Tender            1906
dtype: int64

## Q4 2025 — Cleaning

In [110]:
q4 = pd.read_csv('../data/raw/order_items_2025_q4.csv', encoding='utf-8')
q4.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Order Employee ID,Order Employee Name,Order Employee Custom ID,Note,Currency,...,Order Total,Payments Total,Payment Note,Refunds Total,Refund Credit Surcharge,Manual Refunds Total,Tender,Credit Card Auth Code,Credit Card Transaction ID,Order Payment State
0,31-Dec-2025 10:02 PM PST,5KJX6FBS0GTVY,NaN,66.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,15.00,15.00,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
1,31-Dec-2025 09:57 PM PST,J2T052BN0S0FC,NaN,65.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,7.00,7.00,NaN,0.0,0.0,0.0,Credit Card,299596,600100576717,Paid
2,31-Dec-2025 09:56 PM PST,NYWZATBCMFHMY,NaN,64.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,11.00,11.00,NaN,0.0,0.0,0.0,Credit Card,569617,600100576700,Paid
3,31-Dec-2025 09:55 PM PST,ZSXVGJWEXSP26,NaN,63.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,10.00,10.00,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid
4,31-Dec-2025 09:55 PM PST,SRRDA5FYSXN8P,NaN,62.0,Pick Up,QVND54BCB9DVY,Max,NaN,NaN,USD,...,0.01,0.01,NaN,0.0,0.0,0.0,Cash,NaN,NaN,Paid

In [111]:
q4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13779 entries, 0 to 13778
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order Date                  13779 non-null  object
 1   Order ID                    13779 non-null  object
 2   Invoice Number              711 non-null    object
 3   Order Number                11247 non-null  float64
 4   Order Type                  13778 non-null  object
 5   Order Employee ID           13779 non-null  object
 6   Order Employee Name         13779 non-null  object
 7   Order Employee Custom ID    0 non-null      float64
 8   Note                        9776 non-null   object
 9   Currency                    13779 non-null  object
 10  Tax Amount                  13779 non-null  float64
 11  Tip                         13779 non-null  float64
 12  Service Charge              0 non-null      float64
 13  Credit Surcharge            13779 non-null  float64
 14  Discount                    13779 non-null  float64
 15  Order Total                 13779 non-null  float64
 16  Payments Total              13779 non-null  float64
 17  Payment Note                799 non-null    object
 18  Refunds Total               13779 non-null  float64
 19  Refund Credit Surcharge     13779 non-null  float64
 20  Manual Refunds Total        13779 non-null  float64
 21  Tender                      13512 non-null  object
 22  Credit Card Auth Code       6744 non-null   object
 23  Credit Card Transaction ID  6744 non-null   object
 24  Order Payment State         13779 non-null  object
dtypes: float64(12), object(13)
memory usage: 2.6+ MB

In [112]:
q4.shape, q4.columns

((13779, 25),
 Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
        'Order Type', 'Order Employee ID', 'Order Employee Name',
        'Order Employee Custom ID', 'Note', 'Currency', 'Tax Amount', 'Tip',
        'Service Charge', 'Credit Surcharge', 'Discount', 'Order Total',
        'Payments Total', 'Payment Note', 'Refunds Total',
        'Refund Credit Surcharge', 'Manual Refunds Total', 'Tender',
        'Credit Card Auth Code', 'Credit Card Transaction ID',
        'Order Payment State'],
       dtype='object'))

In [113]:
q4.isnull().sum()

Order Date                        0
Order ID                          0
Invoice Number                13068
Order Number                   2532
Order Type                        1
Order Employee ID                 0
Order Employee Name               0
Order Employee Custom ID      13779
Note                           4003
Currency                          0
Tax Amount                        0
Tip                               0
Service Charge                13779
Credit Surcharge                  0
Discount                          0
Order Total                       0
Payments Total                    0
Payment Note                  12980
Refunds Total                     0
Refund Credit Surcharge           0
Manual Refunds Total              0
Tender                          267
Credit Card Auth Code          7035
Credit Card Transaction ID     7035
Order Payment State               0
dtype: int64

In [114]:
q4.duplicated().sum()

0

In [115]:
q4_reduced = q4.drop(columns=columns_to_drop)
q4_reduced.columns

Index(['Order Date', 'Order ID', 'Invoice Number', 'Order Number',
       'Order Type', 'Tax Amount', 'Tip', 'Discount', 'Order Total',
       'Payments Total', 'Tender'],
      dtype='object')

In [116]:
q4_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13779 entries, 0 to 13778
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      13779 non-null  object
 1   Order ID        13779 non-null  object
 2   Invoice Number  711 non-null    object
 3   Order Number    11247 non-null  float64
 4   Order Type      13778 non-null  object
 5   Tax Amount      13779 non-null  float64
 6   Tip             13779 non-null  float64
 7   Discount        13779 non-null  float64
 8   Order Total     13779 non-null  float64
 9   Payments Total  13779 non-null  float64
 10  Tender          13512 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.2+ MB

In [117]:
q4_reduced.head()

,Order Date,Order ID,Invoice Number,Order Number,Order Type,Tax Amount,Tip,Discount,Order Total,Payments Total,Tender
0,31-Dec-2025 10:02 PM PST,5KJX6FBS0GTVY,NaN,66.0,Pick Up,0.0,0.0,0.0,15.00,15.00,Cash
1,31-Dec-2025 09:57 PM PST,J2T052BN0S0FC,NaN,65.0,Pick Up,0.0,0.0,0.0,7.00,7.00,Credit Card
2,31-Dec-2025 09:56 PM PST,NYWZATBCMFHMY,NaN,64.0,Pick Up,0.0,0.0,0.0,11.00,11.00,Credit Card
3,31-Dec-2025 09:55 PM PST,ZSXVGJWEXSP26,NaN,63.0,Pick Up,0.0,0.0,0.0,10.00,10.00,Cash
4,31-Dec-2025 09:55 PM PST,SRRDA5FYSXN8P,NaN,62.0,Pick Up,0.0,0.0,0.0,0.01,0.01,Cash

In [118]:
q4_reduced["Order ID"].nunique(), len(q4_reduced)

(13779, 13779)

In [119]:
q4_reduced["Order Date"] = pd.to_datetime(q4_reduced["Order Date"])

In [120]:
q4_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13779 entries, 0 to 13778
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      13779 non-null  datetime64[ns, tzlocal()]
 1   Order ID        13779 non-null  object
 2   Invoice Number  711 non-null    object
 3   Order Number    11247 non-null  float64
 4   Order Type      13778 non-null  object
 5   Tax Amount      13779 non-null  float64
 6   Tip             13779 non-null  float64
 7   Discount        13779 non-null  float64
 8   Order Total     13779 non-null  float64
 9   Payments Total  13779 non-null  float64
 10  Tender          13512 non-null  object
dtypes: datetime64[ns, tzlocal()](1), float64(6), object(4)
memory usage: 1.2+ MB

In [121]:
q4_clean = q4_reduced.drop(columns=["Invoice Number", "Order Number"])

In [122]:
q4_clean.info()
q4_clean.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13779 entries, 0 to 13778
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      13779 non-null  datetime64[ns, tzlocal()]
 1   Order ID        13779 non-null  object
 2   Order Type      13778 non-null  object
 3   Tax Amount      13779 non-null  float64
 4   Tip             13779 non-null  float64
 5   Discount        13779 non-null  float64
 6   Order Total     13779 non-null  float64
 7   Payments Total  13779 non-null  float64
 8   Tender          13512 non-null  object
dtypes: datetime64[ns, tzlocal()](1), float64(5), object(3)
memory usage: 969.0+ KB

Order Date          0
Order ID            0
Order Type          1
Tax Amount          0
Tip                 0
Discount            0
Order Total         0
Payments Total      0
Tender            267
dtype: int64

In [124]:
q1_clean.to_csv("../data/cleaned/orders_2025_q1.csv", index=False)
q2_clean.to_csv("../data/cleaned/orders_2025_q2.csv", index=False)
q3_clean.to_csv("../data/cleaned/orders_2025_q3.csv", index=False)
q4_clean.to_csv("../data/cleaned/orders_2025_q4.csv", index=False)

### Phase 2 Complete

All 2025 order-level data has been cleaned and validated.
The resulting quarterly datasets are ready for concatenation and exploratory analysis.